<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Colarinho Branco | Notícias</title>
    <link rel="stylesheet" href="css/news-list.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="icon" href="images/favicon.png">
</head>

<body>
    <header id="site-header">
        <a href="list.html">
            <figure>
                <img id="site-logo" alt="Logotipo colarinho branco" src="images/logo.gif">
                <figcaption id="site-name">Colarinho branco</figcaption>
            </figure>
        </a>
        <h1 id="page-title">Notícias</h1>
    </header>
    <aside>
        <nav id="site-navbar">
            <ul>
                <li><a href="list.html">Notícias</a></li>
                <li><a href="edit.html">Enviar</a></li>
            </ul>
        </nav>
    </aside>
    <main>
      <div id="site-content">	
					
				<c:forEach items="${news}" var="item" varStatus="status">	
				
					<article class="news-headline ${status.count % 2 == 0 ? 'even' : 'odd'}">
					
						<h2 class="news-headline-title">
							<a href="
								<c:url value='/news/show'>
									<c:param name='newsId' value='${item.id}' />
								</c:url>">
								Iate de Eike avaliado em US$ 19 milhões está em estaleiro no RJ há 4 anos à espera de desmanche
							</a>
						</h2>
						
						<a href="show.html">
							<img src="images/eike.jpg"
								class="news-headline-image" >
						</a>
						
						<time datetime="<fmt:formatDate value='${item.date}' type='both' pattern='yyyy-MM-dd HH:mm:ss'/>"
							class="news-headline-time">
							<fmt:formatDate value="${item.date}" type="both"/>
						</time>
						
						<p>Uma das mais famosas aquisições do império de Eike Batista, o Pink Fleet — avaliado em US$ 19 milhões — vai virar sucata até o final deste ano. Cenário de festas e eventos badalados do Rio, o barco teve que deixar a Marina da Glória e está há 4 anos parado no estaleiro Fersan, em São Gonçalo, na Região Metropolitana.</p>
					
					</article>
				
				</c:forEach>
				
			</div>
    </main>
    <footer id="site-footer">
        &copy; Caio Holanda Costa 2017
    </footer>
</body>

</html>