<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Colarinho Branco | Login</title>
    <link rel="stylesheet" href="css/news-show.css">
		<link rel="stylesheet" href="css/news-commentaries.css">
    <style>
      body{
        background-color: lightgray;
      }
      button{
        display: block;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <main>
    <div id="site-content">
      <form id="add-commentary-form">
        <h1>Login</h1>
        <label for="commentary-author">Email:</label>
        <input type="email" name="email" id="email" placeholder=""	maxlength=50 required autofocus>
        <label for="commentary-content">Senha:</label>
        <input type="password" name="password" id="password" placeholder=""	maxlength=50 required>
        <button type="submit" id="submit-commentary-button"><strong>Entrar</strong></button>
      </form>
    </div>
    </main> 
  </body>
</html>