<!DOCTYPE html>
<html>
	<head>
		<title>Notícia</title>
		<meta charset="UTF-8">
		<link rel="icon" href="/view/resources/images/favicon.png">
		<link rel="stylesheet" href="/view/resources/styles/reset.css">
		<link rel="stylesheet" href="/view/resources/styles/site.css">
		<link rel="stylesheet" href="/view/resources/styles/news-show.css">
	</head>
	<body>
		<header id="site-header">
			<figure>
				<img alt="Logotipo colarinho branco" src="/view/resources/images/logo.gif" id="site-logo">
				<figcaption id="site-name">Colarinho branco</figcaption>
			</figure>			
			<h1 id="page-title">Notícia</h1>			
		</header>	
		<aside>
			<nav id="site-navbar">
				<ul>
					<li><a href="/news">Notícias</a></li>
					<li><a href="/news/create">Enviar</a></li>			
				</ul>
			</nav>
		</aside>	
		<main>	
			<div id="site-content">
				<article class="news">
					<h1 class="title">Eike Batista deixa Bangu e segue para prisão domiciliar no Rio</h1>
					<h2 class="subtitle">
						Ministro Gilmar Mendes, do STF, concedeu habeas corpus na sexta (28) para soltar empresário,
						que deverá cumprir 9 medidas cautelares em casa; veja quais.
					</h2>
					<img src="/view/resources/images/eikebangu.jpg" alt="Eike Batista deixa presídio Bangu">
					<p>
						O empresário Eike Batista deixou a Penitenciária Bandeira Stampa, no Complexo Penitenciário de Gericinó,
						em Bangu, na Zona Oeste do Rio, por volta das 9h25 deste domingo (30) . Ele vai cumprir prisão domiciliar
						em sua casa, no Jardim Botânico, na Zona Sul, após conseguir um habeas corpus no Supremo Tribunal Federal
						(STF).
					</p>
					<p>
						Eike chegou à sua mansão, escoltado pela Polícia Federal, às 10h15. Ele estava em um carro particular,
						que seguia atrás da viatura policial. O portão da casa já estava aberto e foi fechado tão logo o comboio
						acessou o imóvel. Seis minutos depois, o carro da PF deixou o local.
					</p>
					<p>
						A prisão domiciliar inclui nove medidas cautelares, como a vistoria da Polícia Federal em casa sem aviso
						prévio, afastamento das empresas nas quais é sócio e entrega do passaporte. No total, são nove
						determinações (veja todas abaixo).
					</p>
					<p>
						A decisão é do juiz federal de plantão, Gustavo Arruda Macedo, que atendeu a liminar do ministro do STF
						Gilmar Mendes, que na sexta-feira (28) concedeu habeas corpus ao empresário e considerou que não se
						justifica o argumento de que Eike deve ficar preso para não atrapalhar as investigações.
					</p>
					
					<p>Veja as medidas que Eike deverá cumprir após sair da prisão:</p>
					
					<ul>
						<li>
							Afastar-se ou continuar afastado da direção/administração das empresas envolvidas, em especial
							as empresas do Grupo X;
						</li>
						<li>
							Proibição de manter contato com qualquer pessoa que seja ré ou investigada, em feitos que
							tramitam perante o Juízo da 7ª Vara Federal Criminal do Rio de Janeiro ou em outros processos
							relacionados à Operação Lava Jato (13ª Vara Federal de Curitiba) e seus desdobramentos;
						</li>
						<li>
							Concordar com o levantamento permanente dos sigilos telefônico e telemático, enquanto durar a medida
							cautelar;
						</li>
						<li>
							Recolhimento domiciliar integral, ressalvada situação de emergência médica, que deverá ser imediatamente
							comunicada ao juízo;
						</li>
						<li>
							Atender a todas as comunicações judiciais;
						</li>
						<li>
							Entregar na secretaria do juízo o(s) passaporte(s) que tiver no prazo de 24 horas, caso ainda não
							tenha feito;
						</li>
						<li>
							Proibição de alteração de domicílio sem autorização judicial;
						</li>
						<li>
							A defesa deverá manter o registro de todas as pessoas que ingressarem no imóvel em que a medida
							será cumprida, sendo certo que está proibida a visitação de pessoas que não sejam parentes ou
							advogados regularmente constituídos com procuração nos autos;
						</li>
						<li>
							A Polícia Federal está autorizada a realizar visitas no imóvel em que a medida será cumprida,
							em qualquer dia da semana, sem prévia comunicação ou autorização do juízo, a fim de checar se
							todas as condições estão sendo cumpridas;
						</li>	
					</ul>
					
					<p>
						Eike teve a prisão preventiva decretada em janeiro, na Operação Eficiência, após dois doleiros
						dizerem que ele pagou US$ 16,5 milhões (ou R$ 52 milhões) a Sérgio Cabral, ex-governador do RJ,
						em propina. O pagamento teria sido feito em troca de contratos com o governo estadual.
					</p>
					
					<p>
						Mas ele estava em Nova York quando a operação foi deflagrada e foi preso alguns dias depois, ao
						desembarcar no Galeão. O empresário já foi denunciado por corrupção e lavagem de dinheiro e é réu
						em pelo menos uma ação, junto com Cabral e a ex-primeira-dama do RJ, Adriana Ancelmo, que também
						está em prisão domiciliar (Cabral segue preso em Bangu). A Operação Eficiência é um desdobramento
						da Lava Jato no Rio de Janeiro.
					</p>
					
				</article>
			</div>
		</main>
		<footer id="site-footer">
			&copy; Caio Holanda Costa 2017
		</footer>
	</body>
</html>